@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background-color: rgb(0, 0, 0);
}

.navbar{
    position: sticky;
    top: 0;
    width: 100vw;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
    padding-left: 1%;
    padding-right: 1%;
    z-index: 1;
}
.logo{ 
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    padding-bottom: 30px;
}
.logo img{ 
    width: 155px;
}
.menu{
    width: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;

}
.menu .drop-menu-section{
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
}
/*Drop down menu list*/

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}
.dropdown-menu {
    position: relative;
    height: 100%;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 200px;
    top: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 10px 16px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 200;
    display: block;   
}

.top-line {
    width: 80%;
    height: 2px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}

.dropdown-content a:hover {
    color: #888787;
}
.dropdown-menu:hover .dropdown-content {
    display: block;
}
.dropdown-menu:hover .dropdown-content .top-line {
    animation: zoom 0.3s ease-in-out ;
}

@keyframes zoom {
    from {width:80%;}
    to {width:100%;}
}

/* ------------------------------- */
.navbar-links ul{
    display: flex;
}
.navbar-links ul li{
    list-style: none;
    position: relative;
}
.navbar-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 16px;
    display: block;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}
.navbar-links ul li a{
    color: rgb(134, 126, 126);
}
.navbar-links.cart-section ul li a:hover{
    color: rgb(255, 255, 255);
}
#cart a{
    color: white;
}
